body {
	background-color: #ebeff5;
}

#logo {
	font-family: 'Teko', sans-serif;
}


#total-orders {
	background-color: #ededed;
}


#orders-delivered {
	background-color: #ededed;
}

#orders-pending {
	background-color: #ededed;
}














