{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}

<br>
<h1 style="text-align: center; color: #469cb6;">Create Customer</h1>

<br>
<div style="display: flex; align-items: center; justify-content: center;" class="row">
	<div style="display: flex; align-items: center; justify-content: center;" class="col-md-6">
		<div style="display: flex; align-items: center; justify-content: center;" class="card card-body">
	
			<form action="", method='POST'>
				{% csrf_token %}
				Name {{form.name}}<br>
				<hr>
				Phone {{form.phone}}<br>
				<hr>
				Email  {{form.email}}<br>
				<hr>
				<br>
				<input class="btn btn-sm btn-info ml-5" type="submit" name="Create" value="Create Customer">
			</form>
		</div>
	</div>
</div>

{% endblock %}